header {
  margin-bottom: 1em;
}

.chart-icon {
  margin-left: 2em;
}

#chart-container {
  height: 300px;
  width: 100%;
}

#chart-main {
  margin: 1em 0;
}

#search-results {
    display: none;
    max-height: 15em;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}

#search-results img {
  width: 2em;
}

#search-results p {
  margin: 0;
}

#title-block {
  margin: 2.5em auto 3em auto;
  max-width: 40em;
  text-align: center;
}

#title-block h1 {
  margin-bottom: 0;
}

#title-block h2 {
  margin-bottom: 0.5em;
}

#last-updated {
  margin-top: 1.2em;
  text-align: center;
}

#credits {
  font-size: 0.8em;
  margin-bottom: 0.2em;
  text-align: center;
}

#details {
  margin-bottom: 1.2em;
}

#realm {
  text-align: center;
}

.fb-like {
  text-align: center;
}

#tweet {
  margin-top 0.5em;
}
